server {
    listen  80;
    server_name localhost;

    access_log /var/log/nginx/lighthouse.log main;

    location / {
        root /home/safonov/lighthouse;
        index index.html;
    }
}